extends base

block content
  main.main
    .auth-form
      h2.heading-secondary.ma-bt-lg= title
      form.form.form--reset_pass
        .form__group.ma-bt-md
          label.form__label(for='token') Token
          input#token.form__input(type='text', placeholder='Place your token', required, name='token')
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8', name='password')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8', name='passwordConfirm')
        .form__group
          button.btn.btn--green.btn--resetpass Reset password
          a.btn.btn--green.btn-i(href='/') 
            i.fas.fa-arrow-left.fa-lg
            span Back